In [1]:
import os
os.getcwd()

'C:\\Users\\admin\\PycharmProjects\\PythonProject\\Projectfile'

In [3]:
import os
os.getcwd(), os.listdir()

('C:\\Users\\admin\\PycharmProjects\\PythonProject\\Projectfile',
 ['Product-Sales-Region.xlsx', 'Projectfile.ipynb'])

In [1]:
import pandas as pd

df = pd.read_excel("Product-Sales-Region.xlsx")
df.head()

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,PaymentMethod,Promotion,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,Online,FREESHIP,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,Gift Card,SAVE10,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,Online,WINTER15,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,Gift Card,FREESHIP,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,Online,SAVE10,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric

In [2]:
df.shape

(1500, 19)

In [3]:
df.columns

Index(['Date', 'Region', 'Product', 'Quantity', 'UnitPrice', 'StoreLocation',
       'CustomerType', 'Discount', 'Salesperson', 'TotalPrice',
       'PaymentMethod', 'Promotion', 'Returned', 'OrderID', 'CustomerName',
       'ShippingCost', 'OrderDate', 'DeliveryDate', 'RegionManager'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1500 non-null   datetime64[ns]
 1   Region         1500 non-null   object
 2   Product        1500 non-null   object
 3   Quantity       1500 non-null   int64
 4   UnitPrice      1500 non-null   float64
 5   StoreLocation  1500 non-null   object
 6   CustomerType   1500 non-null   object
 7   Discount       1500 non-null   float64
 8   Salesperson    1500 non-null   object
 9   TotalPrice     1500 non-null   float64
 10  PaymentMethod  1500 non-null   object
 11  Promotion      1130 non-null   object
 12  Returned       1500 non-null   int64
 13  OrderID        1500 non-null   object
 14  CustomerName   1500 non-null   object
 15  ShippingCost   1500 non-null   float64
 16  OrderDate      1500 non-null   datetime64[ns]
 17  DeliveryDate   1500 non-null   datetime64[ns]
 18  RegionManager  1500 non-null   object
dtypes: datetime64[ns](3), float64(4), int64(2), object(10)
memory usage: 222.8+ KB

In [5]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.head()

,date,region,product,quantity,unitprice,storelocation,customertype,discount,salesperson,totalprice,paymentmethod,promotion,returned,orderid,customername,shippingcost,orderdate,deliverydate,regionmanager
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,Online,FREESHIP,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,Gift Card,SAVE10,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,Online,WINTER15,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,Gift Card,FREESHIP,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,Online,SAVE10,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric

In [7]:
df['promotion'].fillna('No Promotion', inplace=True)

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df['delivery_days'] = (df['deliverydate'] - df['orderdate']).dt.days

In [10]:
df.head()

,date,region,product,quantity,unitprice,storelocation,customertype,discount,salesperson,totalprice,paymentmethod,promotion,returned,orderid,customername,shippingcost,orderdate,deliverydate,regionmanager,delivery_days
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,Online,FREESHIP,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,4
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,Gift Card,SAVE10,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie,9
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,Online,WINTER15,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan,9
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,Gift Card,FREESHIP,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron,4
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,Online,SAVE10,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric,3

In [11]:
df['year'] = df['orderdate'].dt.year
df['month'] = df['orderdate'].dt.month

In [12]:
df.head()

,date,region,product,quantity,unitprice,storelocation,customertype,discount,salesperson,totalprice,...,returned,orderid,customername,shippingcost,orderdate,deliverydate,regionmanager,delivery_days,year,month
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,...,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,4,2023,2
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,...,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie,9,2024,12
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,...,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan,9,2023,5
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,...,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron,4,2025,2
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,...,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric,3,2023,6

In [13]:
region_sales = df.groupby('region')['totalprice'].sum().reset_index()
region_sales

    region   totalprice
0  Central  847153.6845
1     East  883633.7180
2    North  967957.9800
3    South  827768.1870
4     West  853478.8590

In [14]:
avg_delivery = df.groupby('region')['delivery_days'].mean().reset_index()
avg_delivery

    region  delivery_days
0  Central       5.877076
1     East       5.996785
2    North       6.385113
3    South       5.932203
4     West       6.010563

In [15]:
df.to_excel("cleaned_sales_data.xlsx", index=False)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1500 non-null   datetime64[ns]
 1   region         1500 non-null   object
 2   product        1500 non-null   object
 3   quantity       1500 non-null   int64
 4   unitprice      1500 non-null   float64
 5   storelocation  1500 non-null   object
 6   customertype   1500 non-null   object
 7   discount       1500 non-null   float64
 8   salesperson    1500 non-null   object
 9   totalprice     1500 non-null   float64
 10  paymentmethod  1500 non-null   object
 11  promotion      1500 non-null   object
 12  returned       1500 non-null   int64
 13  orderid        1500 non-null   object
 14  customername   1500 non-null   object
 15  shippingcost   1500 non-null   float64
 16  orderdate      1500 non-null   datetime64[ns]
 17  deliverydate   1500 non-null   datetime64[ns]
 18  regionmanager  1500 non-null   object
 19  delivery_days  1500 non-null   int64
 20  year           1500 non-null   int32
 21  month          1500 non-null   int32
dtypes: datetime64[ns](3), float64(4), int32(2), int64(3), object(10)
memory usage: 246.2+ KB

In [17]:
df.describe()

,date,quantity,unitprice,discount,totalprice,returned,shippingcost,orderdate,deliverydate,delivery_days,year,month
count,1500,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500,1500,1500.000000,1500.000000,1500.000000
mean,2024-04-07 21:35:02.400000256,10.410667,298.826947,0.073133,2919.994952,0.248000,27.507293,2024-04-07 21:35:02.400000256,2024-04-13 22:36:28.799999744,6.042667,2023.838667,5.674000
min,2023-01-01 00:00:00,1.000000,5.520000,0.000000,6.970000,0.000000,5.010000,2023-01-01 00:00:00,2023-01-08 00:00:00,2.000000,2023.000000,1.000000
25%,2023-08-20 00:00:00,5.000000,151.020000,0.000000,867.136250,0.000000,16.700000,2023-08-20 00:00:00,2023-08-25 12:00:00,4.000000,2023.000000,3.000000
50%,2024-04-08 12:00:00,11.000000,294.740000,0.050000,2174.724000,0.000000,27.100000,2024-04-08 12:00:00,2024-04-15 12:00:00,6.000000,2024.000000,5.000000
75%,2024-12-07 06:00:00,15.000000,446.702500,0.100000,4414.723500,0.000000,38.635000,2024-12-07 06:00:00,2024-12-13 06:00:00,8.000000,2024.000000,8.000000
max,2025-06-30 00:00:00,20.000000,599.720000,0.150000,11077.000000,1.000000,49.980000,2025-06-30 00:00:00,2025-07-10 00:00:00,10.000000,2025.000000,12.000000
std,NaN,5.735732,169.100075,0.055979,2522.789977,0.431996,13.093453,NaN,NaN,2.539254,0.764871,3.389304